@media screen and (max-width: 1800px) {
  .carousel-caption {
    margin-top: -120px;
    margin-left: -100px;
  }
  .me-2 {
    display: none;
  }
  .btn-outline-success {
    display: none;
  }

  .navbar-toggler {
    margin-right: 20px;
  }
  .col-3 {
    margin-left: 80px;
  }
  .button {
    padding: 7px;
  }
}

@media screen and (max-width: 1200px) {
  .carousel-caption {
    max-width: 650px;
    max-height: 500px;
    margin-top: -120px;
    margin-left: -100px;
  }
  .col-3 {
    margin-left: 80px;
  }

  .me-2 {
    display: none;
  }
  .btn-outline-success {
    display: none;
  }
  .button {
    padding: 7px;
  }
  .navbar-toggler {
    margin-right: 20px;
  }
}

@media screen and (max-width: 959px) {
  .col-3 {
    margin-left: 45px;
  }
}
@media screen and (max-width: 576px) {
  .col-3 {
    margin-left: 35px;
  }
  .button {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 7px;
  }
  .pe-5 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .button {
    padding: 7px;
  }
}
@media screen and (max-width: 494px) {
  .col-3 {
    margin-left: 0px;
    width: 100%;
  }
  .pe-5 {
    display: none;
  }
}
@media screen and (max-width: 424px) {
  .navbar-brand {
    margin-left: -2px;
  }
}
@media screen and (max-width: 420px) {
  .navbar-brand {
    margin-left: -8px;
  }
}
@media screen and (max-width: 408px) {
  .navbar-brand {
    margin-left: -9px;
  }
}
@media screen and (max-width: 406px) {
  .navbar-brand {
    margin-left: -10px;
  }
}
