.container {
  max-width: 576px;
  padding-top: 5px;
  margin-top: 20px;
}
.container:hover {
  -webkit-box-shadow: 0px 2px 4px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 4px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 4px 5px rgba(34, 60, 80, 0.2);
  transition: 0.8s;
}
.button:hover {
  background-color: rgb(0, 255, 98);
  border-radius: 10px;
}
.button {
  background-color: rgb(194, 255, 211);
  border-radius: 10px;
}
.form-control {
  padding: 10px;
}

.nav-link {
  color: white;
  margin-right: 40px;
  max-height: 40px;
  min-width: 60px;
  position: relative;
}
.nav-link {
  transition: all 2s;
}
.nav-link:hover {
  color: rgb(0, 0, 0);
  z-index: 1;
}

.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(233, 233, 233);
  height: 1px;
  transition: all 0.3s;
}

.nav-link:hover::after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
  }
}
.nav-item .nav-link.active {
  color: white;
}
.nav-item .nav-link.active:hover {
  color: rgb(0, 0, 0);
}

.dropdown-item:hover {
  background-color: rgb(60, 116, 88);
  transition: all 0.5s;
}

.fixed-top {
  background-color: black;
  max-height: 125px;
}

.btn-outline-success {
  color: white;
  border: 1px solid white;
  margin-right: 100px;
}
.btn-outline-success:hover {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  transition: 1s;
  background-color: #00c785;
  margin-right: 100px;
}
.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
nav {
  background-image: linear-gradient(45deg, #121f16, #6aa082, #569b9e);
}
body {
  margin: 0;
  padding: 0;
}

.navbar-image {
  width: 90px;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
.button {
  background-image: linear-gradient(45deg, #6ba8da, #8c6ff5);
  color: #fff;
  border: none;
  position: relative;
  height: 40px;
  font-size: 1em;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  border-radius: 5px;
  margin-right: 20px;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  background-image: linear-gradient(45deg, #8c6ff5, #6ba8da);
  color: #000000;
  border-radius: 0%;
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #000000;
  transition: 400ms ease all;
}
.button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button:hover:before,
.button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.navbar-brand:hover {
  color: #ffffff;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  left: 300px;
  top: 250px;
  max-width: 450px;
  max-height: 500px;
  padding: 20px;
}
footer {
  background-image: linear-gradient(45deg, #121f16, #6aa082, #569b9e);
  color: black;
}
.footer_info {
  margin-left: 300px;
}
