.container:hover {
  -webkit-box-shadow: 0px 2px 4px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 4px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 4px 5px rgba(34, 60, 80, 0.2);
  transition: 0.8s;
}
.container {
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
}
.footer_info {
  margin-left: 300px;
}
